<section>
    @if (cartService.cart()?.items?.length! > 0) {
        <div class="mx-auto max-w-screen-xl px-4">
            <div class="flex flex-col lg:flex-row w-full items-start gap-6 mt-32">
                <!-- Cart Items -->
                <div class="w-full lg:w-3/4">
                    @for (item of cartService.cart()?.items; track item.productId) {
                        <app-cart-item [item]="item"></app-cart-item>
                    }
                </div>  

                <!-- Order Summary -->
                <div class="w-full lg:w-1/4">
                    <app-order-summary></app-order-summary>
                </div>
            </div>
        </div>
    } @else {
        <app-empty-state></app-empty-state>
    }
</section>